apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: server-data-pvc
  namespace: todolist
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard